

*:not(input):not(textarea) {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none
}


.seller {

    font-family: monospace;

    color: #8f8f8f;

    cursor: text;

}



.holder {

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

}



.center {

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}



.textiboi {

    margin-top: 10px;

	text-align: center;

	color: #8f8f8f;

	font-family: monospace;

}



.textiboi:hover {

	color: white;

}

	



.header {

    text-align: center;

    color: #8f8f8f;

    font-family: monospace;

}



.header a {

    text-decoration: none;

}



.hoverr:hover a 

{

	color: white;

}



.header:hover {

    text-align: center;

    color: white;

    font-family: monospace;

}



.container:hover .seller {

    color: white;

}



.container:hover a {

    color: white;

}



.a {

    text-align: center;

    color: white;

    font-family: monospace;

}



.header:hover a {

    text-align: center;

    color: white;

    font-family: monospace;

}



.icon {

    color: #8f8f8f;

}



.icon i {

    font-size: 80px;

}



.container {

    text-align: center;

    margin: 5px 20px;



    float: left;

}



a {

    color: #8f8f8f;

}



.container:hover .icon {

    color: var(--icon-color);

    font-size: 20px;

}



.container:hover .seller {

    color: white;

}



.container:hover a {

    color: white;

}

.textiboi a .dc {
    margin-top: 10px;
    margin-left: 5px;
}